<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>block</key>
		<string>1</string>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>triditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>0</real>
		<key>degreeHigh</key>
		<real>5.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>2</string>
		<key>point</key>
		<string>North by East</string>
		<key>abbreviation</key>
		<string>NbE</string>
		<key>triditionalWind</key>
		<string>Qto Tramontana verso Greco</string>
		<key>degreeLow</key>
		<real>5.63</real>
		<key>degreeHigh</key>
		<real>16.88</real>
	</dict>
	<dict>
		<key>block</key>
		<string>3</string>
		<key>point</key>
		<string>North-Northeast</string>
		<key>abbreviation</key>
		<string>NNE</string>
		<key>triditionalWind</key>
		<string>Greco-Tramontana</string>
		<key>degreeLow</key>
		<real>16.88</real>
		<key>degreeHigh</key>
		<real>28.13</real>
	</dict>
	<dict>
		<key>block</key>
		<string>4</string>
		<key>point</key>
		<string>Northeast by North</string>
		<key>abbreviation</key>
		<string>NEbN</string>
		<key>triditionalWind</key>
		<string>Qto Greco verso Tramontana</string>
		<key>degreeLow</key>
		<real>28.13</real>
		<key>degreeHigh</key>
		<real>39.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>5</string>
		<key>point</key>
		<string>Northeast</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>triditionalWind</key>
		<string>Greco</string>
		<key>degreeLow</key>
		<real>39.38</real>
		<key>degreeHigh</key>
		<real>50.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>6</string>
		<key>point</key>
		<string>Northeast by East</string>
		<key>abbreviation</key>
		<string>NEbE</string>
		<key>triditionalWind</key>
		<string>Qto Greco verso Levante</string>
		<key>degreeLow</key>
		<real>50.63</real>
		<key>degreeHigh</key>
		<real>61.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>7</string>
		<key>point</key>
		<string>East-Northeast</string>
		<key>abbreviation</key>
		<string>ENE</string>
		<key>triditionalWind</key>
		<string>Greco-Levante</string>
		<key>degreeLow</key>
		<real>61.88</real>
		<key>degreeHigh</key>
		<real>73.13</real>
	</dict>
	<dict>
		<key>block</key>
		<string>8</string>
		<key>point</key>
		<string>East by North</string>
		<key>abbreviation</key>
		<string>EbN</string>
		<key>triditionalWind</key>
		<string>Qto Levante verso Greco</string>
		<key>degreeLow</key>
		<real>73.13</real>
		<key>degreeHigh</key>
		<real>84.38</real>
	</dict>
	<dict>
		<key>block</key>
		<string>9</string>
		<key>point</key>
		<string>East</string>
		<key>abbreviation</key>
		<string>E</string>
		<key>triditionalWind</key>
		<string>Levante</string>
		<key>degreeLow</key>
		<real>84.38</real>
		<key>degreeHigh</key>
		<real>95.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>10</string>
		<key>point</key>
		<string>East by South</string>
		<key>abbreviation</key>
		<string>EbS</string>
		<key>triditionalWind</key>
		<string>Qto Levante verso Scirocco</string>
		<key>degreeLow</key>
		<real>95.63</real>
		<key>degreeHigh</key>
		<real>106.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>11</string>
		<key>point</key>
		<string>East Southeast</string>
		<key>abbreviation</key>
		<string>ESE</string>
		<key>triditionalWind</key>
		<string>Levante-Scirocco</string>
		<key>degreeLow</key>
		<real>106.88</real>
		<key>degreeHigh</key>
		<real>118.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>12</string>
		<key>point</key>
		<string>Southeast by East</string>
		<key>abbreviation</key>
		<string>SEbE</string>
		<key>triditionalWind</key>
		<string>Qto Scirocco verso Levante</string>
		<key>degreeLow</key>
		<real>118.13</real>
		<key>degreeHigh</key>
		<real>129.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>13</string>
		<key>point</key>
		<string>Southeast</string>
		<key>abbreviation</key>
		<string>SE</string>
		<key>triditionalWind</key>
		<string>Scirocco</string>
		<key>degreeLow</key>
		<real>129.38</real>
		<key>degreeHigh</key>
		<real>140.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>14</string>
		<key>point</key>
		<string>Southeast by south</string>
		<key>abbreviation</key>
		<string>SEbS</string>
		<key>triditionalWind</key>
		<string>Qto Scirocco verso Ostro</string>
		<key>degreeLow</key>
		<real>140.63</real>
		<key>degreeHigh</key>
		<real>151.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>15</string>
		<key>point</key>
		<string>South-Southeast</string>
		<key>abbreviation</key>
		<string>SSE</string>
		<key>triditionalWind</key>
		<string>Ostro-Scirocco</string>
		<key>degreeLow</key>
		<real>151</real>
		<key>degreeHigh</key>
		<real>163.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>16</string>
		<key>point</key>
		<string>South by East</string>
		<key>abbreviation</key>
		<string>SbE</string>
		<key>triditionalWind</key>
		<string>Qto Ostro verso Scirocco</string>
		<key>degreeLow</key>
		<real>163.13</real>
		<key>degreeHigh</key>
		<real>174.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>17</string>
		<key>point</key>
		<string>South</string>
		<key>abbreviation</key>
		<string>S</string>
		<key>triditionalWind</key>
		<string>Ostro</string>
		<key>degreeLow</key>
		<real>174.38</real>
		<key>degreeHigh</key>
		<real>185.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>18</string>
		<key>point</key>
		<string>South by West</string>
		<key>abbreviation</key>
		<string>SbW</string>
		<key>triditionalWind</key>
		<string>Qto Ostro verso Libeccio</string>
		<key>degreeLow</key>
		<real>185.63</real>
		<key>degreeHigh</key>
		<real>196.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>19</string>
		<key>point</key>
		<string>South-Southwest</string>
		<key>abbreviation</key>
		<string>SSW</string>
		<key>triditionalWind</key>
		<string>Ostro-Libeccio </string>
		<key>degreeLow</key>
		<real>196.88</real>
		<key>degreeHigh</key>
		<real>208.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>20</string>
		<key>point</key>
		<string>Southwest by South</string>
		<key>abbreviation</key>
		<string>SWbS</string>
		<key>triditionalWind</key>
		<string>Qto Libeccio verso Ostro</string>
		<key>degreeLow</key>
		<real>208.13</real>
		<key>degreeHigh</key>
		<real>219.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>21</string>
		<key>point</key>
		<string>Southwest</string>
		<key>abbreviation</key>
		<string>SW</string>
		<key>triditionalWind</key>
		<string>Libeccio</string>
		<key>degreeLow</key>
		<real>219.38</real>
		<key>degreeHigh</key>
		<real>230.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>22</string>
		<key>point</key>
		<string>Southwest by West</string>
		<key>abbreviation</key>
		<string>SWbW</string>
		<key>triditionalWind</key>
		<string>LibecQto Libeccio verso Ponentecio</string>
		<key>degreeLow</key>
		<real>230.63</real>
		<key>degreeHigh</key>
		<real>241.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>23</string>
		<key>point</key>
		<string>West-Southwest</string>
		<key>abbreviation</key>
		<string>WSW</string>
		<key>triditionalWind</key>
		<string>Ponente-Libeccio</string>
		<key>degreeLow</key>
		<real>241.88</real>
		<key>degreeHigh</key>
		<real>253.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>24</string>
		<key>point</key>
		<string>West by South</string>
		<key>abbreviation</key>
		<string>WbS</string>
		<key>triditionalWind</key>
		<string>Qto Ponente verso Libeccio</string>
		<key>degreeLow</key>
		<real>253.13</real>
		<key>degreeHigh</key>
		<real>264.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>25</string>
		<key>point</key>
		<string>West</string>
		<key>abbreviation</key>
		<string>W</string>
		<key>triditionalWind</key>
		<string>Ponente</string>
		<key>degreeLow</key>
		<real>264.38</real>
		<key>degreeHigh</key>
		<real>275.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>26</string>
		<key>point</key>
		<string>West by North</string>
		<key>abbreviation</key>
		<string>WbN</string>
		<key>triditionalWind</key>
		<string>Qto Ponente verso Maestro</string>
		<key>degreeLow</key>
		<real>275.63</real>
		<key>degreeHigh</key>
		<real>286.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>27</string>
		<key>point</key>
		<string>West-Northwest</string>
		<key>abbreviation</key>
		<string>WNW</string>
		<key>triditionalWind</key>
		<string>Maestro-Ponente</string>
		<key>degreeLow</key>
		<real>286.88</real>
		<key>degreeHigh</key>
		<real>298.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>28</string>
		<key>point</key>
		<string>Northwest by West</string>
		<key>abbreviation</key>
		<string>NWbW</string>
		<key>triditionalWind</key>
		<string>Qto Maestro verso Ponente</string>
		<key>degreeLow</key>
		<real>298.13</real>
		<key>degreeHigh</key>
		<real>309.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>29</string>
		<key>point</key>
		<string>Northwest</string>
		<key>abbreviation</key>
		<string>NW</string>
		<key>triditionalWind</key>
		<string>Maestro</string>
		<key>degreeLow</key>
		<real>309.38</real>
		<key>degreeHigh</key>
		<real>320.62</real>
	</dict>
	<dict>
		<key>block</key>
		<string>30</string>
		<key>point</key>
		<string>Northwest by North</string>
		<key>abbreviation</key>
		<string>NWbN</string>
		<key>triditionalWind</key>
		<string>Qto Maestro verso Tramontana</string>
		<key>degreeLow</key>
		<real>320.63</real>
		<key>degreeHigh</key>
		<real>331.87</real>
	</dict>
	<dict>
		<key>block</key>
		<string>31</string>
		<key>point</key>
		<string>North-Northwest</string>
		<key>abbreviation</key>
		<string>NNW</string>
		<key>triditionalWind</key>
		<string>Maestro-Tramontana</string>
		<key>degreeLow</key>
		<real>331.88</real>
		<key>degreeHigh</key>
		<real>343.12</real>
	</dict>
	<dict>
		<key>block</key>
		<string>32</string>
		<key>point</key>
		<string>North by West</string>
		<key>abbreviation</key>
		<string>NbW</string>
		<key>triditionalWind</key>
		<string>Qto Tramontana verso Maestro</string>
		<key>degreeLow</key>
		<real>343.13</real>
		<key>degreeHigh</key>
		<real>354.37</real>
	</dict>
	<dict>
		<key>block</key>
		<string>1</string>
		<key>point</key>
		<string>North</string>
		<key>abbreviation</key>
		<string>N</string>
		<key>triditionalWind</key>
		<string>Tramontana</string>
		<key>degreeLow</key>
		<real>354.38</real>
		<key>degreeMid</key>
		<integer>0</integer>
		<key>New item</key>
		<string></string>
		<key>degreeHigh</key>
		<real>360</real>
	</dict>
</array>
</plist>
